@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter';
  font-weight: '100 900';
  font-style: 'normal';
  font-display: 'optional';
  src: url('/fonts/inter-var-latin.woff2') format('woff2');
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans.woff2') format('woff2');
}
